<h1 align="center" class="display-4 mb-5">Orders</h1>

<table class="table table-striped text-center">
    <thead>
    <tr>
        <th scope="col">Order #</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Customer Email</th>
        <th scope="col">Customer phone</th>
        <th scope="col">Shipping Address</th>
        <th scope="col">Total</th>
        <th scope="col">Order Data</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let order of page?.content">
        <th class="align-middle" scope="row">
            2147483648
        </th>
        <td class="align-middle">customer1</td>
        <td class="align-middle">customer1@email.com</td>
        <td class="align-middle">123456789</td>
        <td class="align-middle">3200 West Road</td>
        <td class="align-middle">2950.00</td>
        <td class="align-middle">2020-12-16</td>
        <td class="align-middle">Customer</td>
        <td class="align-middle">
        <a style="display:block" href="" >
             Show</a>
        <a>Cancel</a>    
        <a>Finish</a>    
    </tr>
    </tbody>
</table>

<!-- <app-pagination [currentPage]="page"></app-pagination> -->
