<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" routerLink="/">E-Shop</a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="category/0">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="category/1">Food</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="category/2">Clothes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="category/3">Drink</a>
      </li>
      <!-- <div>
        <li class="nav-item">
          <a class="nav-link" href="#">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign Up</a>
        </li>
      </div> -->
    </ul>
  </nav>
  